.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 16px; */
  /*font-size: 48px;*/
}

.board-text {
  padding: 24px;
}

.board-cell.highlight {
  background-color: lightblue;
}